@page "/"
@using Estimate.Studio.Components;
@using Microsoft.AspNetCore.Authorization;
@attribute [AllowAnonymous]

<PageTitle>Estimation Monster</PageTitle>

<div>
    <Paragraph Style="text-align: center; margin: 20px">
        <blockquote>
            <p>
                An estimate is not a number. An estimate is a distribution.
                <cite>Robert C. Martin</cite>
            </p>
        </blockquote>
    </Paragraph>
</div>

<EstimateComponent />

<style>
    .ant-typography blockquote {
        border-left:  0px hidden;
        padding: 0px;
    }
    blockquote {
      font-size: 2em;
      background: #fff;
      border-left: 0px hidden;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C";
    }

        blockquote:before {
          color: #ccc;
          content: "\201C";
          font-size: 4em;
          line-height: 0.1em;
          margin-right: 0.1em;
          vertical-align: -0.4em;
        }

        blockquote p {
            display: inline;
        }

        blockquote cite {
            color: #870237;
            font-size: 13px;
            display: block;
            margin-top: 5px;
        }

            blockquote cite:before {
                content: "\2014 \2009";
            }
</style>

