@page "/"
@using Estimate.Studio.Components;
@using Microsoft.AspNetCore.Authorization;
@attribute [AllowAnonymous]

<PageTitle>Estimation Monster</PageTitle>

<Paragraph Style="text-align: center; margin: 10px">
    <p class="pert">
        Estimate a task using <b>Program Evaluation and Review Technique (PERT)</b>. 
    </p>
</Paragraph>

<EstimateComponent />

<Paragraph Style="text-align: center; margin: 10px">
    <p class="pert">
        You can find more about this in Robert C. Martin's book <a href="https://www.goodreads.com/book/show/10284614-the-clean-coder">The Clean Coder</a> 
        and <a href="https://en.wikipedia.org/wiki/Program_evaluation_and_review_technique">Wikipedia</a>.
    </p>
</Paragraph>

<style>
    .pert {
      font-size: 1.5em;
      background: #fff;
      border-left: 0px hidden;
      margin: 1.5em 5px;
      padding: 0.5em 5px;
    }
</style>

